@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header {
    text-align: center;
    background-color: white;
}
main {
    width: 500px;
    height: 150px;
    padding-top: 10px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}